---
layout: page
description: "戒定慧觉，离叶障目"
---

<table width="100%" border="1" align="center" style="font-size:10pt;line-height:18px;border-collapse:collapse;">
<col width="33%"><col width="33%"><col width="33%">
<td align="center">物情</td><td align="center" bgcolor="f1f1f1">过尤</td><td>权利</td></td>
</tr><tr>
<td align="center" bgcolor="f1f1f1">体空</td><td align="center">道</td><td align="center" bgcolor="f1f1f1">用满</td>
</tr><tr>
<td align="center">人情</td><td align="center" bgcolor="f1f1f1">不及</td><td>贪求</td>
</tr>
</table>



{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}




   
