<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body ontouchstart="">
   
    {% include nav.html %}
    
    {{ content }}
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 align="center" src="https://music.163.com/outchain/player?type=2&id=816482&auto=1&height=66"></iframe>
    {% include footer.html %}
 
  <div class="back-to-top"><i class="fa fa-arrow-up"></i></div>
  <canvas id="evanyou"></canvas>
  <canvas id="live2d" width="150" height="400" class="live2d"></canvas></div>

</html>
